#!/sbin/openrc-run
# Copyright 1999-2021 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2

source "/root/test2daemon/rcvars.src"
user="${user}"
start_stop_daemon_args="${args}"

description="test daemon"

command="/usr/bin/test2daemon"
command_args=":0" 
#first param to script = $DISPLAY; alt. set env with adding  '-e DISPLAY=":0"' to start-stop-daemon

start(){
    ebegin "Starting test2daemon"
    start-stop-daemon -S $argsstart -- $command_args
    eend $?
}

stop(){
    ebegin "Stopping test2daemon"
    start-stop-daemon -K $start_stop_daemon_args -- $command_args
    eend $?
}

depend() {
    use dns logger netmount
}

start_pre() {

  [ -f "${errfile}" ] || ( touch "${errfile}"; chown "$user" "${errfile}" )
  [ -f "${logfile}" ] || ( touch "${logfile}"; chown "$user" "${logfile}" )
}

stop_post() {
    rm -f "${pidfile}"
}
