#!/sbin/openrc-run
# Copyright 1999-2021 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2

source "/root/customdaemons/xdaemon/xdaemon.src"
user="${user}"
start_stop_daemon_args="${args}"

description="xdaemon"

command="/usr/bin/xdaemon"
command_args=":0"

start(){
    ebegin "Starting xdaemon"
    start-stop-daemon -S $argsstart $command -- $command_args
    eend $?
}

stop(){
    ebegin "Stopping xdaemon"
    start-stop-daemon -K $start_stop_daemon_args $command -- $command_args
    eend $?
}

depend() {
    use dns logger netmount
}

start_pre() {
   if [ ! -e "${errfile}" ]; then
     touch "${errfile}"
     chown "$user" "${errfile}"
     chmod 0666 "${errfile}"
   fi
   if [ ! -e "${logfile}" ]; then
     touch "${logfile}"
     chown "$user" "${logfile}"
     chmod 0666 "${logfile}"
   fi
}

stop_post() {
    rm -f "${pidfile}"
}
